<table class="table table-hover">
    <thead>
        <th scope="col">Título</th>
        <th scope="col">Autor</th>
        <th scope="col">Género</th>
        <!-- Tiene un nombre y un botón, al clickear este botón abre un input que permite modificar su valor!-->
        <th scope="col" colspan="2">Préstamo</th>
        <th scope="col">Prestado a</th>
        <!-- Al clickear este botón elimina el registro del servidor-->
        <th scope="col">Eliminar</th>
    </thead>
    <tbody>
        <tr *ngFor="let book of books">
            <td>{{book.name}}</td>
            <td>{{book.author}}</td>
            <td>{{book.gender}}</td>
            <td><label for= "lended"></label>
                <input type="text" name="lended" id={{book.id}} placeholder="Ingrese un nombre" [(ngModel)]="person"></td><td><button class="btn btn-warning" (click)="lendBook(book)">Prestar/Devolver</button></td>
            <td>{{book.lended}}</td>
            <td><button (click)="deleteBook(book.id)" class="btn btn-danger">Borrar</button></td>
            
        </tr>
    </tbody>
</table>